.trip{
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.trip h1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.trip p{
    font-size: 1.3rem;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .trip{
        margin: 4rem 2rem;
    }
}

