<div class="destination">
    <h1>Popular Destinations</h1>
    <p>Tours give you the opportunity to see a lot within the time frame.</p>

    <div class="first-des">
        <div class="des-text">
            <h2>Taal Volcano, Batangas</h2>
            <p>Taal Volcano is a large caldera filled by Taal Lake in the Philippines. Located in the province of
                Batangas, the volcano is second of the most active volcanoes in the country, with 38 recorded historical
                eruptions, all of which were concentrated on Volcano Island, near the middle of Taal Lake.</p>
        </div>
        <div class="image">
            <img src="../../assets/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg" alt="DestImg">
            <img src="../../assets/matteo-catanese-4KrQq8Z6Y5c-unsplash.jpg" alt="DestImg">
        </div>
    </div>
    <div class="first-des-rev">
        <div class="des-text">
            <h2>Dzukou Valley</h2>
            <p>The beautiful valley of Dzukou is located right at the border of Nagaland and Manipur. Similar to the
                Valley of Flowers in Uttarakhand, the Dzukou Valley too can only be reached through trekking trails. The
                two known entries are from the foothills of Viswema Village and through Jakhama Village (also written as
                Zakhama). Both of these routes start in Nagaland and are easily accessible through Kohima. The Dzukou
                Valley is world renowned for a unique species of the lily flower, which is found nowhere else in the
                world, the Dzukou Lily. Other than the Dzukou Lily, the valley's undulating grasslands are decorated by
                several beautiful varieties of wildflowers every season.</p>
        </div>
        <div class="image">
            <img src="../../assets/christian-holzinger-wVnBd8wm1Cc-unsplash.jpg"
                alt="DestImg">
            <img src="../../assets/sayli-satpute-R5OHs2Bpn1c-unsplash.jpg" alt="DestImg">
        </div>
    </div>
    <div class="first-des">
        <div class="des-text">
            <h2>Monument Valley Navajo Tribal Park</h2>
            <p>Welcome to the Navajo Nation’s Monument Valley Navajo Tribal Park. You are experiencing one of the most
                majestic – and most photographed – points on earth. This great valley boasts sandstone masterpieces that
                tower at heights of 400 to 1,000 feet, framed by scenic clouds casting shadows that graciously roam the
                desert floor. The angle of the sun accents these graceful formations, providing scenery that is simply
                spellbinding.</p>
            </div>
            <div class="image">
                <img src="../../assets/kent-tupas-WaUcTYPfiCU-unsplash.jpg" alt="DestImg">
                <img src="../../assets/ganapathy-kumar-L75D18aVal8-unsplash.jpg" alt="DestImg">
            </div>
        </div>
</div>