.form-container{
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.form-container h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}

.form-container textarea{
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border: 1px solid #2a2a2a;
}

.form-container button{
    width: 50%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #5c7cfa;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-size: 10px;
    font-weight: 600;
}

.form-container button:hover{
    background-color: #01959a;
    box-shadow: 0px 15px 20px rgba(48, 197, 160, 0.473);
    color: #fff;
    transform: translateY(-7px);
}

@media  screen and (max-width: 850px) {
    .form-container{
        margin: 4rem 2rem;
    }
    
    .form-container form{
        padding-top: 3rem;
        width: 90%;
    }

}