<div class="tripcard">
    <div class="t-card">
        <div class="t-image">
            <img src="../../../assets/roberto-h-qToVxSYXPYU-unsplash.jpg" alt="CardImg">
        </div>
        <h4>Trip Malaysia</h4>
        <p>Malaysia is a Southeast Asian country occupying parts of the Malay Peninsula and the island of Borneo. It's known
            for its beaches, rainforests and mix of Malay, Chinese, Indian and European cultural influences. The capital,
            Kuala Lumpur, is home to colonial buildings.</p>
</div>
<div class="t-card">
    <div class="t-image">
        <img src="../../../assets/bogdan-pasca-ePW8U7EoF54-unsplash.jpg" alt="CardImg">
    </div>
    <h4>Trip Korea beach side Home</h4>
    <p>Situated in Seogwipo, within 10 km of Jeju World Cup Stadium and 10 km of Soesokkak Estuary, The Qube Resort Jeju
        features accommodation with a bar and free WiFi throughout the property.</p>
</div>
<div class="t-card">
    <div class="t-image">
        <img src="../../../assets/kc-welch-HkxtJbSuBf0-unsplash.jpg" alt="CardImg">
    </div>
    <h4>Valley Flowers</h4>
    <p>Valley of Flowers National Park is an Indian national park which was established in 1982. It is located in
        Chamoli in the state of Uttarakhand and is known for its meadows of endemic alpine flowers and the variety of
        flora.</p>
    </div>
</div>